:root{
  --orange-500: #F27E00;
  --gray-50: #EEEEEE;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'Roboto', 'Heveltica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}